body,html {
  height: 100%;
  display: grid;
}
.app {
  margin: 0 auto;
  text-align: center;
  display: inline;
  margin-bottom: 10vh;
}
#logo {
  width: 200px;
  height: 200px;
  margin: auto;
}
#appName {
  color: #EF4338;
  font-family: 'Merriweather', serif;
  font-size: 7rem;
  line-height: normal;
  vertical-align: middle;
  margin: auto;
  text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
}
.btn {
  background-color: #EF4338 !important;
}

.thumbnail {
  border-color: #EF4338 !important;
  text-align: center;
  border-width: 3px !important;
  border-radius: 20px !important;
  height: 50vh;
  margin: 50px 100px 100px 50px;
  -webkit-box-shadow: 0px 0px 30px 15px rgba(239,67,56,0.35);
-moz-box-shadow: 0px 0px 30px 15px rgba(239,67,56,0.35);
box-shadow: 0px 0px 30px 15px rgba(239,67,56,0.35);
}
.thumbnail:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 100px 15px rgba(239,67,56,1);
-moz-box-shadow: 0px 0px 100px 15px rgba(239,67,56,1);
box-shadow: 0px 0px 100px 15px rgba(239,67,56,1);
}
.icon {
  padding: 30px;
}
.captionHead {
  font-size: 40px;
}

.table {
  border: 2px;
  border-radius: 10px;
}
thead {
  background-color: #EF4338 !important;
  color: white !important;
  font-size: 40px !important;
}

h1{
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }
  table{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #000;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }
  